@media screen and (max-width: 768px) {

    .nav-links {
        position: absolute;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: #ffffff;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateX(-100%);
        transition: all 0.3s ease-in-out;
        z-index: 1;
    }

    .nav-link1 {
        transform: translateX(-150%);

    }

    .nav-link2 {
        transform: translateX(-150%);
    }

    .nav-link3 {
        transform: translateX(-150%);
    }

    .nav-link4 {
        transform: translateX(-150%);
    }

    .nav-link5 {
        transform: translateX(-150%);
    }

    .header {
        background-size: 500px;
    }

    .nav-links.open {
        transform: translateX(0);
    }

    .header-burger-menu {
        display: block;
    }

    .nav-links a {
        color: black;
    }

    .nav-links li {
        padding: 15px;
    }

    .nav-search img {
        margin-left: 10px;
        width: 30px;
    }
}

@media screen and (max-width:650px) {
    .sec-title{
        font-size: 40px;
    }
  
    .socials{
        flex-direction: column;
        justify-content: center;
    }
    .previous{
        margin-bottom: 60px;
        border-bottom: 1px solid  rgb(140, 139, 139);
        width: 100%;
        justify-content: center;
    }
    .previous img{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .previous h4{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .soc-media{
        flex-direction: column;
        justify-content: center;
        margin-bottom: 20px;
    }

}

@media screen and (max-width: 320px) {
    .nav-search img {
        margin-left: 10px;
        width: 20px;
    }

    .header-logo img {
        width: 70px;
    }
}

@media screen and (max-width: 767px) {
    .block-ft {
        display: none;
    }

    #media-320 {
        display: block;
        text-align: center;
        margin-left: 60px;
        justify-content: center;
    }

    .main-ft {
        display: flex;
        justify-content: center;
    }

}

@media screen and (max-width:300px) {
    .sec-title{
        font-size: 25px;
    }
}