
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

.header{
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.header-burger-menu {
    display: none;
    cursor: pointer;
    color: #ff0000;
}

.menu-line {
    width: 30px;
    height: 1px;
    background-color: #333;
    margin: 5px 0;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}

.menu-line2 {
    width: 20px;
    height: 1px;
    background-color: #333;
    margin: 5px 0;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}
.header-burger-menu.active .menu-line:nth-child(1){
  transform: rotate(45deg) translate(5px, 5px);
}
.header-burger-menu.active .menu-line2{
  opacity: 0;
}
.header-burger-menu.active .menu-line:nth-child(3){
  transform: rotate(-45deg) translate(5px, -4px);
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
}
#sale{
  background-color: #CB4F19;
  padding: 6px;
  border-radius: 5px;
}
.nav-links li {
    margin: 0 10px;
    list-style: none;
    transition: 0.4s;
}


.nav-links a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    border-bottom: 2px solid transparent;
    color: #fff;
}

.nav-links a:hover {
    color: #f44336;
    border-bottom: 2px solid #f44336;
}

.nav-search {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-search img {
    margin-left: 20px;
}
.header__title h1{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 15px;
}

.tabs {
    display: flex;
    
}

.tab {
    margin: 0 10px;
    border-bottom: 1px solid rgb(64, 64, 64);
    display: flex;
    justify-content: center;
}
.main{
    display: flex;
    flex-direction: column;
}

.tablinks {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px 20px;
    transition: background-color 0.3s ease;
    width: 300px;
    background-color: transparent;
    color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 15px;
}

.header p{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-left: 15px;
    opacity: 0.8;
}

.tablinks img {
    width: 30px;
}


.tabcontent {
    display: none;
}

.tabcontent.show {
    display: block;

}

.btn-content {
    width: 300px;
    height: 1400px;
    background-color: #14161B;
}


.tab-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.tab-section img {
    width: calc(100% / 2);
}

.content-exp{
 padding: 30px 30px;
 display: flex;
 flex-wrap: wrap;
 gap: 30px;
justify-content: center;
}

.block-exp{
    background-color: #14161B;
    padding: 20px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;

}
.block-exp h4{
    margin-top: 15px;
}
.sale-exp{
    width: 100px;
    height: 18px;
    background-color: red;
    padding: 5px;
    border-radius: 2px;
}
#sale-exp{
    background-color: rgb(40, 40, 255);
    width: 70px;
}

#img-exp{
    width: 217px;
}

.card-img img{
    width: 150px;
}

.card-title{
    width: 200px;
}

.footer {
    background-color: #14191B;
}

.main-ft {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1200px;
    margin: 0 auto;

    color: #ffffff;
}

.block-ft {
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.text-ft h2 {
    font-size: 20px;
    font-weight: 100;
    opacity: .5;
    margin-bottom: 20px;
}

.text-ft h3 {
    margin-bottom: 10px;
}

.text-ft p {
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 100;
}

.btn-ft {
    width: 150px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #959595;
    color: #ffffff;
    border-radius: 8px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.ft-icons img{
  width: 30px;
  margin-top: 10px;
}
.ft-icons img:hover{
  background-color: rgb(234, 36, 69);
  border-radius: 20px;
  transition: .3s;
}
.end{
  background-color: black;
}
.end-title {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.end-title p{
  padding-top: 10px;
  padding-bottom: 10px;
}