@media screen and (max-width:900px) {
    .nav-links {
        width: 500px;
    }

    .nav-logo img {
        width: 90px;
    }

    .img__header img {
        width: 100%;
    }

    .text__header p {
        margin-left: 30px;
    }
}

@media screen and (max-width:830px) {
    .nav-links li {
        margin: 0 10px;
        list-style: none;
    }
}

@media screen and (max-width: 768px) {

    .nav-links {
        position: absolute;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: #ffffff;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateX(-100%);
        transition: all 0.3s ease-in-out;
        z-index: 1;
    }

    .nav-link1 {
        transform: translateX(-150%);

    }

    .nav-link2 {
        transform: translateX(-150%);
    }

    .nav-link3 {
        transform: translateX(-150%);
    }

    .nav-link4 {
        transform: translateX(-150%);
    }

    .nav-link5 {
        transform: translateX(-150%);
    }

    .header {
        background-size: 500px;
    }

    .nav-links.open {
        transform: translateX(0);
    }

    .header-burger-menu {
        display: block;
    }

    .nav-links a {
        color: black;
    }

    .nav-links li {
        padding: 15px;
    }

    .nav-search img {
        margin-left: 10px;
        width: 30px;
    }
}

@media screen and (max-width: 700px) {
    .headline-text p {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 767px) {
    .block-ft {
        display: none;
    }

    #media-320 {
        display: block;
        text-align: center;
        margin-left: 60px;
        justify-content: center;
    }

    .main-ft {
        display: flex;
        justify-content: center;
    }

}

@media screen and (max-width:320px) {
    .nav-logo img {
        width: 70px;
    }

    .nav-search img {
        margin-left: 10px;
        width: 20px;
    }

    .headline {
        background-size: 200%;
        padding-bottom: 0px;
    }

    .headline-text {
        padding: 20px 0;
    }

    .headline-text p {
        font-size: 15px;
    }

    .headline-2__text p {
        margin-left: 20px;
        margin-right: 20px;
        padding-bottom: 0;
    }

    .text__header h1 {
        font-size: 30px;
    }

    .headline-2__text h1 {
        margin-left: 20px;
    }
}